<table class="col-md-12 table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Selected</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr [apTableRowHover]="person" *ngFor="let person of contacts">
      <td>{{person | capitalize}}</td>
      <td>{{person.age}}</td>
      <td>{{person.getGenderName()}}</td>
      <td>{{person.isSelected}}</td>
      <td>
        <button (click)="select(person)" class="btn">edit</button>
      </td>
    </tr>
  </tbody>
</table>
