<form #form="ngForm" (ngSubmit)="addPerson(form)" class="col-md-12">
  <div class="form-group">
    <label for="nameInput">Name:</label>
    <input #nameInput #nameModel="ngModel" minlength="3" required id="nameInput" [(ngModel)]="contact.name" type="text" name="name"
      class="form-control">
    <div class="invalid-feedback" *ngIf="nameModel.invalid && nameModel.dirty">
      <div [hidden]="!nameModel.errors.required">Name is required!</div>
      <div [hidden]="!nameModel.errors.minlength">Name should be a minimal of 3 characters</div>
    </div>
  </div>
  <div class="form-group">
    <label for="ageInput">Age:</label>
    <input type="number" [(ngModel)]="contact.age" name="age" id="ageInput" class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">
    {{isEdit? 'Save': 'Add'}}
  </button>
</form>
