<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <ap-title [name]="title"></ap-title>
  </div>

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="text-primary" routerLink="/contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="text-primary" routerLink="/shifts">Shifts</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
