<h2>Contacts module</h2>
<div class="row">
  <h3 class="col-md-12">List</h3>
  <ap-contacts-list (contactSelected)="selectContact($event)" [contacts]="allContacts"></ap-contacts-list>
</div>
<div class="row">
  <div class="col-md-12"><a routerLink="/contacts" class="btn btn-primary">New</a></div>
</div>

<div class="row">
  <h3 class="col-md-12">{{isEdit? 'Edit': 'Add'}} contact</h3>
  <ap-edit-contact [contact]="selectedContact" (contactSaved)="saveContact($event)"></ap-edit-contact>
</div>

