<form (ngSubmit)="addShift()" [formGroup]="newShiftForm" class="col-md-12">
  <div class="form-group">
    <label for="fromDateInput">From date:</label>
    <input formControlName="fromDate" class="form-control" type="date" id="fromDateInput" [class.is-invalid]="newShiftForm.controls.fromDate.invalid && newShiftForm.controls.fromDate.dirty">
    <div class="invalid-feedback" *ngIf="newShiftForm.controls.fromDate.invalid && newShiftForm.controls.fromDate.dirty">
      <div [hidden]="!newShiftForm.controls.fromDate.errors?.required">From date is required!</div>
    </div>
  </div>
  <div class="form-group">
    <label for="toDateInput">To date:</label>
    <input [formControlName]="'toDate'" class="form-control" type="date" id="toDateInput">
  </div>
  <button class="btn btn-primary">Add shift</button>
</form>
