<div class="row">
  <h2 class="col-md-12">Shifts</h2>
  <ap-shift-list [shifts]="allShifts"></ap-shift-list>
</div>
<div class="row">
  <ap-add-shift (shiftAdded)="addShift($event)"></ap-add-shift>
</div>
